*.class
*.jar
*.war
.metadata
.metadata/
.recommenders
.recommenders/
.recommenders/*

# Eclipse
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

.jar
.war
.class
ComGmRestSpringOracle1Jar
.gradle
.gradle/*
